
  <!-- ======= Hero Section ======= -->
  {% extends 'layout/layout_short_nav.html' %}

  <!-- ======= Login Section ======= -->
  {% block content %}
  <!-- ======= Hero Section ======= -->


    <!-- ======= Login Section ======= -->
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="static/assets/img/new/nanny.jfif" id="signImg" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-7 col-lg-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <div class="card py-4 px-4  border-1 shadow-sm">
                   
                <h4>Caregiver Registration</h4>
                <form method="post" action="caregiver-signup"  accept-charset="UTF-8">
                
                  {{ form.hidden_tag() }}
                  
                    <div class="col-form-label">
                       
                         {{ form.name.label(class="form-label", style="font-size:13px") }}
                              {% if form.name.errors %}
                              {{ form.name(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.name.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.name(class="form-control") }} 
                              {% endif %}
                         

                    </div>
                     <div class="col-form-label">
                       
                         {{ form.email.label(class="form-label", style="font-size:13px") }}
                              {% if form.email.errors %}
                              {{ form.email(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.email(class="form-control") }} 
                              {% endif %}
                         

                    </div>
                   
                   <div class="row" >
                   <div class="col-form-label">
                       
                         {{ form.password.label(class="form-label", style="font-size:13px") }}
                              {% if form.password.errors %}
                              {{ form.password(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.password.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.password(class="form-control") }} 
                              {% endif %}
                         

                    </div>
                      <div class="col">
                 
                         
                             {{ form.role.label(class="form-label", style="font-size:13px") }}
                              {% if form.role.errors %}
                              {{ form.role(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.role.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.role(class="form-control", style="font-size:14px") }} 
                                    
                             {% endif %}        
                               
                   
                    </div>
                  </div>

                   <div class="row" style="margin-top:10px;">
                     <div class="col">

                             {{ form.phone.label(class="form-label", style="font-size:13px") }}
                              {% if form.phone.errors %}
                              {{ form.phone(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.phone.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.phone(class="form-control", style="font-size:14px") }} 
                             {% endif %}        
                                
                   
                    </div>
                       <div class="col">
                 
                         
                             {{ form.gender.label(class="form-label", style="font-size:13px") }}
                              {% if form.gender.errors %}
                              {{ form.gender(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.gender.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.gender(class="form-control", style="font-size:14px") }} 
                                    
                             {% endif %}        
                               
                   
                    </div>
                    </div>
                     <div class="row" style="margin-top:10px;">
                         <div class="col">
                               {{ form.date_of_birth.label(class="form-label", style="font-size:13px") }}
                              {% if form.date_of_birth.errors %}
                              {{ form.date_of_birth(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.date_of_birth.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.date_of_birth(class="form-control", style="font-size:14px", type='date') }} 
                             {% endif %}        
                          </div>
                          <div class="col">
                 
                         
                             {{ form.state_of_origin.label(class="form-label", style="font-size:13px") }}
                              {% if form.state_of_origin.errors %}
                              {{ form.state_of_origin(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.state_of_origin.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.state_of_origin(class="form-control", style="font-size:14px") }} 
                                  
                             {% endif %}        
                                
                   
                    </div>
                      </div>
                      <div class="col">
                 
                         
                             {{ form.address.label(class="form-label", style="font-size:13px") }}
                              {% if form.address.errors %}
                              {{ form.address(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.address.errors %}
                                    <li>{{ error }}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.address(class="form-control", style="font-size:14px") }} 
                             {% endif %}        
                                <i class="fas fa-caret-down"></i>
                   
                    </div>
                     <div class="form-check form-switch" style="margin-left: 15px; margin-top:10px">

                          {{ form. terms .label(class="form-label", style="font-size:13px") }}
                              {% if form.terms == 0 %}
                              {{ form.terms(class="form-control is-invalid") }}  
                                <ul class="errors">
                                  {% for error in form.terms.errors %}
                                    <li>{{form.terms}}</li>
                                  {% endfor %}
                                </ul>
                                {% else %}
                                 {{ form.terms( class="form-check-input")  }} 
                             {% endif %}  
                       </div>
                        <div class="col-form-label" style="margin-top:10px">
                        {{ form.submit( class="form-control", style="background-color:#66cc66; border:none; color:white; font-weight:200;font-size:15px;padding:5px") }}
                       
                     </div>
                    
               </form>
       </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->
    {% endblock %}