
  {% extends 'layout/profile_nav.html'%}

  {% block content %}
<div class="col-md-9 col-sm-12 col-xs-12" style="background-color: transparent; margin-top: -90px">
				<div class="form-style-1 user-pro" action="#">
					 <h4>CHANGE ROLE INFOR</h4>
	  <h1 style="display:flex;"><span style="display:flex; color:#5cd65c;"> Ma</span>mà</h1>
	 <h4 style="text-transform: capitalize; color:grey; font-size: 18px; display:flex; margin-top: 10px;">Thank you for expressing interest to serve / work as a caregiver </h4>
						 <hr style="margin-top: -10px">  
	 <p style="text-transform: capitalize; color:#000000; font-size: 15px; display:flex">Please note that the following is required to serve as a Caregiver with&nbsp <span style="color:#5cd65c;font-weight: 400"> Ma</span><span style="text-transform: lowercase;">mà</span></p>
	 <ol>
	 	
	 	<li style="margin: 5px;"><p>You must abide by the rules, regulations & safety procedure of <span style="color:#5cd65c;font-weight: 400"> Ma</span><span style="text-transform: lowercase;">mà</span></p></li>
	 	<li style="margin: 5px; font-weight: 200"><p>You must be minimum of 21 years</p></li>
	 	<li style="margin: 5px;"><p>You must provide a Valid ID Card <span style="font-size: 12px; color:#5cd65c">(National ID Card, Voters Card, Drivers Licence) </span></p></li>
	 	<li style="margin: 5px;"><p>You must provide 2 guarrantors <span style="font-size: 12px; color:#5cd65c">(Civil servant, Military Personel or well know / reputable member of the society)</span></p></li>
	 	<li style="margin: 5px;"><p>Minimum Education requirement SSCE / WAEC / NECO</p></li>
	 	<li style="margin: 5px;"><p>You will be called upon or assigned to a government hospital / medical labouratory to conduct medical check up<small>(test)</small></p></li>
	 </ol>
	   
		 <button  class="form-control" style="background-color:#5cd65c; color:#ffffff;border-image:5px; border:none; border-radius:2px">Click to Proceed</button>
	
			     </div>
						
						  
						
					
					
</div>
{% endblock  %}