<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- seriessingle_light16:30-->
<head>
	<!-- Basic need -->
	<title>Mamà|Details</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="../static/assets_two/css/plugins.css">
	<link rel="stylesheet" href="../static/assets_two/css/style.css">

	<style type="text/css">
		
		.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

/* Demo Styles */

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
  line-height: 1.4;
}


a {
  color: inherit;
}


.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

}

	</style>

</head>
<body>
<div class="mask" role="dialog"></div>
<div class="modal" role="alert">
  <button class="close" role="button">X</button>
</div>


<!-- END | Header -->
<div style="margin:50px; width:400px; display:flex; position: fixed; z-index:900">
<a href="{{url_for('home') }}">
	<img src="../static/assets_two/images/new/back-button.png" alt="back-button"  style="width:40px; height:40px;">
</a>
	
</div>
    	<div class="buster-light">
<div class="hero sr-single-hero sr-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb" >
					<img src="{{url_for('static', filename='user_uploads/' + workers.image)}}" alt="" >
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Report Worker</a></div>
							<div><a href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						<div class="btn-transform transform-vertical">
							<div><a  aria-haspopup="true" class="item item-1 yellowbtn" id="show"> <i class="ion-card"></i> Request Service</a></div>
							<div><a  aria-haspopup="true" id="show" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd" style="color:#5cd65c">{{workers.role}}<span> #{{workers.worker_id}}</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>		
					</div>
					<div class="movie-rate">
						<div class="rate">
						<!-- 	<i class="ion-android-star"></i> -->
							<p><span style="color:#000000; margin-left: 23px; font-weight: bold"> 17</span><br>
								<span class="rv">Jobs Completed</span>
							</p>
						</div>
						<div class="rate-star">
							<p>Rate this Worker:  </p>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star-outline"></i>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv tabs-series">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li> 
								<li><a href="#media"> Services</a></li> 
							                     
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						           <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            	<div class="title-hd-sm">
												<h4>ABOUT ME :</h4>
												<a href="#" class="time"></a>
											</div>
						            
						            		<p>
						            		{{workers.about}}
						            		</p>
						            			<div class="title-hd-sm">
												<h4>Marital Status</h4>
												<a href="#" class="time"></a>
											</div>
											<!-- movie cast -->
											<p>
													{{workers.marrital_status}}							
												</p>
						            		<div class="title-hd-sm">
												<h4>Number of children :</h4>
												<a href="#" class="time"></a>
											</div>
											<!-- movie cast -->
											<p>
													{{workers.children}}							
												</p>

										   <div class="title-hd-sm">
												<h4>Highest Education Qualification :</h4>
												<a href="#" class="time"></a>
											</div>
											<!-- movie cast -->
											<p>
													{{workers.education}}								
												</p>
											<div class="title-hd-sm">
												<h4>Location :</h4>
												<a href="#" class="time"></a>
											</div>
											<!-- movie cast -->
											<p>
													{{workers.location}} State							
												</p>
										 	<div class="title-hd-sm">
												<h4>Languages :</h4>
												<a href="#" class="time"></a>
											</div>
											<!-- movie cast -->
											<p>
													{{workers.languages}}								
												</p>
										
						            		<div class="title-hd-sm">
												<h4>Religion</h4>
												<a href="#" class="time"></a>
											</div>
											<!-- movie cast -->
											<p>
													{{workers.religion}}							
												</p>
											
											<div class="title-hd-sm">
												<h4>Hobbies</h4>
												<a href="#" class="time"></a>
											</div>
											<!-- movie cast -->
											<p>
													{{workers.hobbies}}							
												</p>
											<!-- movie cast -->
											
											
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		
						            		
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		
						       	 				<h2>Most Recent reviews</h2>
							            	</div>
							            
						            	</div>
						            	<div class="topbar-filter">
											<p>Found <span>56 reviews</span> in total</p>
											
										
										</div>
									
									
											
										<div class="mv-user-review-item ">
											<div class="user-infor">
												<img src="../static/assets_two/images/uploads/userava4.jpg" alt="">
												<div>
													<h3>That spirit of fun</h3>
													<div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
													</div>
													<p class="time">
														26 March 2017 by <a href="#"> juliawest</a>
													</p>
												</div>
											</div>
											<p>If there were not an audience for Marvel comic heroes than clearly these films would not be made, to answer one other reviewer although I sympathize with him somewhat. The world is indeed an infinitely more complex place than the world of Marvel comics with clearly identifiable heroes and villains. But I get the feeling that from Robert Downey, Jr. on down the organizer and prime mover as Iron Man behind the Avengers these players do love doing these roles because it's a lot of fun. If they didn't show that spirit of fun to the audience than these films would never be made.</p>


											<p>Pretend you're a kid again and enjoy, don't take it so seriously.</p>
										</div>
										<div class="mv-user-review-item last">
											<div class="user-infor">
												<img src="../static/assets_two/images/uploads/userava5.jpg" alt="">
												<div>
													<h3>Impressive Special Effects and Cast</h3>
													<div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
													</div>
													<p class="time">
														26 March 2017 by <a href="#"> johnnylee</a>
													</p>
												</div>
											</div>
											<p>The Avengers raid a Hydra base in Sokovia commanded by Strucker and they retrieve Loki's scepter. They also discover that Strucker had been conducting experiments with the orphan twins Pietro Maximoff (Aaron Taylor-Johnson), who has super speed, and Wanda Maximoff (Elizabeth Olsen), who can control minds and project energy. Tony Stark (Robert Downey Jr.) discovers an Artificial Intelligence in the scepter and convinces Bruce Banner (Mark Ruffalo) to secretly help him to transfer the A.I. to his Ultron defense system. However, the Ultron understands that is necessary to annihilate mankind to save the planet, attacks the Avengers and flees to Sokovia with the scepter. He builds an armature for self-protection and robots for his army and teams up with the twins. The Avengers go to Clinton Barton's house to recover, but out of the blue, Nick Fury (Samuel L. Jackson) arrives and convinces them to fight against Ultron. Will they succeed? </p>

											
										</div>
										<div class="topbar-filter">
											
										</div>
						            </div>
</div>
						<div id="media" class="tab">
						        	<div class="row">
						        		
						            	<div class="title-hd-sm">
											<h4>Kindly select your desired Plan</h4>
										</div>
										<div class="mvsingle-item media-item" >
											<div class="vd-item" style="border:1px solid grey; height:300px; padding: 10px; text-align:center;border-radius: 5px">
											<br>
											<h2>3 MONTH</h2>
											<h3 style="margin-top:-20px">₦ 45,000</h3>
												<div class="vd-it" style="margin-top: -32px">
													<img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
													<div class="vd-infor">
													<h6 style="font-weight:200">  <span class="time"> Daily Schedule</span></h6>
													<hr>
												</div>
												<div class="vd-infor">
													<h6 style="font-weight:200"> Resume: <span class="time">7:30 am</span></h6>
													<hr>
												</div>
												<div class="vd-infor">
													<h6 style="font-weight:200"> Closes: <span class="time"> 8:30 pm</span></h6>
													<hr>
												</div>
													<a href="" style="background-color:#5cd65c; color:#ffffff; padding:10px 30px; border-radius:3px; font-size:12px"> Request</a>
											</div>
											<div class="vd-item" style="border:1px solid grey; height:300px; padding: 10px; text-align:center;border-radius: 5px">
											<br>
											<h2>6 MONTH</h2>
											<h3 style="margin-top:-20px">₦ 90,000</h3>
												<div class="vd-it" style="margin-top: -32px">
													<img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
													<div class="vd-infor">
													<h6 style="font-weight:200">  <span class="time"> Daily Schedule</span></h6>
													<hr>
												</div>
												<div class="vd-infor">
													<h6 style="font-weight:200"> Resume: <span class="time">7:30 am</span></h6>
													<hr>
												</div>
												<div class="vd-infor">
													<h6 style="font-weight:200"> Closes: <span class="time"> 8:30 pm</span></h6>
													<hr>
												</div>
													<a href="" style="background-color:#5cd65c; color:#ffffff; padding:10px 30px; border-radius:3px; font-size:12px"> Request</a>
											</div>
											<div class="vd-item" style="border:1px solid grey; height:300px; padding: 10px; text-align:center;border-radius: 5px">
											<br>
											<h2>9 MONTH</h2>
											<h3 style="margin-top:-20px">₦ 120,000</h3>
												<div class="vd-it" style="margin-top: -32px">
													<img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
													<div class="vd-infor">
													<h6 style="font-weight:200">  <span class="time"> Daily Schedule</span></h6>
													<hr>
												</div>
												<div class="vd-infor">
													<h6 style="font-weight:200"> Resume: <span class="time">7:30 am</span></h6>
													<hr>
												</div>
												<div class="vd-infor">
													<h6 style="font-weight:200"> Closes: <span class="time"> 8:30 pm</span></h6>
													<hr>
												</div>
													<a href="" style="background-color:#5cd65c; color:#ffffff; padding:10px 30px; border-radius:3px; font-size:12px"> Request</a>
											</div>
											<div class="vd-item" style="border:1px solid grey; height:300px; padding: 10px; text-align:center;border-radius: 5px">
											<br>
											<h2 style="font-size: 18px">DIAMOND PLAN</h2>
											<h3 style="margin-top:-20px">₦ 250,000</h3>
												<div class="vd-it" style="margin-top: -32px">
													<img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
													<div class="vd-infor" >
													<h6 style="font-weight:200">  <span class="time">Plus</span></h6>
													<hr>
												</div>
												<div class="vd-infor">
													<h6 style="font-weight:200"><span class="time">Relocation</span></h6>
													<hr>
												</div>
												<div class="vd-infor">
													<h6 style="font-weight:200"><span class="time"> Feeding</span></h6>
													<hr>
												</div>
													<a href="" style="background-color:#5cd65c; color:#ffffff; padding:10px 30px; border-radius:3px; font-size:12px"> Request</a>
											</div>
											<div>
					       	 		</div>
					
					       	 			<div class="title-hd-sm" style="text-align: center;" >
										  <h4 style=" font-size: 12px; text-align: center"> Please Click <a href=""> here </a> to download the <a href="">  teams and conditions </a> around the Services above</h4>
										</div>
					       	 		
										
									
						<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h2>Skyfall: Quantum of Spectre</h2>
					       	 			<div class="topbar-filter">
											<p>Found <span>12 movies</span> in total</p>
											<label>Sort by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div>
										<div class="movie-item-style-2">
											<img src="images/uploads/mv1.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">oblivion <span>(2012)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
												<p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Joss Whedon</a></p>
												<p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="images/uploads/mv2.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">into the wild <span>(2014)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
												<p class="describe">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
												<p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#">  Scarlett Johansson</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="images/uploads/mv3.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">blade runner  <span>(2015)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
												<p class="describe">Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Peyton Reed</a></p>
												<p>Stars: <a href="#">Paul Rudd,</a> <a href="#"> Michael Douglas</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="images/uploads/mv4.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">Mulholland pride<span> (2013)  </span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
												<p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Shane Black</a></p>
												<p>Stars: <a href="#">Robert Downey Jr., </a> <a href="#">  Guy Pearce,</a><a href="#">Don Cheadle</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="images/uploads/mv5.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">skyfall: evil of boss<span> (2013)  </span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
												<p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Alan Taylor</a></p>
												<p>Stars: <a href="#">Chris Hemsworth,  </a> <a href="#">  Natalie Portman,</a><a href="#">Tom Hiddleston</a></p>
											</div>
										</div>
										<div class="topbar-filter">
											<label>Movies per page:</label>
											<select>
												<option value="range">5 Movies</option>
												<option value="saab">10 Movies</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 2:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
					       	 		</div>
					       	 	</div>				
<!-- end of footer section-->

<script src="../static/assets_two/js/jquery.js"></script>
<script src="../static/assets_two/js/plugins.js"></script>
<script src="../static/assets_two/js/plugins2.js"></script>
<script src="../static/assets_two/js/custom.js"></script>
<script type="text/javascript">
	

$("#show").on("click", function(){
  $(".mask").addClass("active");
});

// Function for close the Modal

function closeModal(){
  $(".mask").removeClass("active");
}

// Call the closeModal function on the clicks/keyboard

$(".close, .mask").on("click", function(){
  closeModal();
});

$(document).keyup(function(e) {
  if (e.keyCode == 27) {
    closeModal();
  }
});
</script>
</body>

<!-- seriessingle_light16:30-->
</html>