<div class="col-md-9 col-sm-12 col-xs-12" style="background-color: transparent; margin-top: -90px">
				<div class="form-style-1 user-pro" action="#">
					<form action="#" class="user">
						<h4>01. Profile details</h4>
						<div class="row">
							<div class="col-md-12 form-it">
								<label>About You</label>
								<textarea name="about" placeholder="I am ....." rows="4" cols="50" style="height: 60px">
									

								</textarea> 
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Marrital status</label>
								<select  name="Marrital_status">
								  <option value="united">Select your Status</option>
								  <option value="united">Married</option>
								  <option value="saab">Single</option>
								  <option value="united">Divoursed</option>
								</select>
							</div>
							<div class="col-md-6 form-it">
								<label>Number of Children</label>
								<select  name="Marrital_status">
								  <option value="united">Select Your Number of children</option>
								  <option value="united">None</option>
								  <option value="saab">1 Child</option>
								  <option value="united">2 Children</option>
								  <option value="united">3 Children</option>
								  <option value="united">4 Children</option>
								  <option value="united">5 Children</option>
								  <option value="united">6 Children</option>
								  <option value="united">7 Children</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Highest Education Qualification</label>
								<select  name="educatiion">
								  <option value="united">Select your Your Highest Qualification</option>
								  <option value="united">SSCE</option>
								  <option value="saab">WAEC</option>
								  <option value="saab">GCE</option>
								  <option value="saab">OND</option>
								  <option value="saab">HND</option>
								  <option value="saab">BSC</option>
								  <option value="saab">BEdu</option>
								  <option value="united">MSC</option>
								</select>
							</div>
							<div class="col-md-6 form-it">
								<label>Religion</label>
								<select  name="educatiion">
								  <option value="united">Select your Your Religion</option>
								  <option value="united">None</option>
								  <option value="saab">Christain</option>
								  <option value="saab">Muslim</option>
								  <option value="united">Traditionalist</option>
								  <option value="saab">Atheism</option>
								  <option value="saab">Hinduism</option>
								  <option value="saab">Buddhism</option>
								  <option value="saab">Judaism</option>
								  
								</select>
							</div>
					
						</div>	
		
							<div class="row">
								<div class="col-md-6 form-it">
									
									<label>Languages you understand</label>
									<input type="text" placeholder=" English, Hausa , french, yoruba, Igbo, ...">
							
								</div>
								<div class="col-md-6 form-it">
									<label>Hobbies</label>
									<input type="text" placeholder="Swimming, singing, playing, chess, reading ...">
							</div>
			</div>
						 <hr>
						   <h4>02. UPLOAD DOCUMENT</h4>
						<div class="row" style="margin-top:-15px">
								<div class="col-md-6 form-it">
									<label>Your Prefered Display Picture</label>
									<input type="file" name="photo" class="form-control" step="border:none">
								</div>
								<div class="col-md-6 form-it">
									<label>ID Card <span style="font-size: 12px; color:#5cd65c">(National ID Card, Voters Card, Drivers Licence) </span></label>
									<input type="file" name="id_card" class="form-control" step="border:none">
								</div>
						        <div class="col-md-12 form-it" style="padding: 20px">
									<button  class="form-control" style="background-color:#5cd65c; color:#ffffff;border-image:5px; border:none; ">Submit</button>
								</div>
						</div>
					
					</form>
					
				</div>
			</div>