<header class="ht-header" style="background-color: #ffffff;">
	<div class="container" >
		<nav class="navbar navbar-default navbar-custom" style="background-color: #ffffff;">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
					<h1 style="display:flex"><a href="/" style="display:flex"><span style="display:flex;color:#5cd65c;"> <img src="../static/assets/img/new/ok.jfif" style="width:50px;height:50px;" >Ma</span>mà</a>  </h1>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
				
							</a>
				
						</li>
						
					
					
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li  ><a href="logout" style="text-transform: initial; color:#00e673">Holla! Harrison Ebube</a></li>
						<li ><a href="logout" style="text-transform: initial;">Logout</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	  
	</div>
</header>

<div class="title-hd-sm">
											<h4>Please Click here to download the teeams and condition around the Services above</h4>
										</div>





										 <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">