
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mamà|Welcome</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for ('static/assets/vendor/aos/aos.css" rel="stylesheet')}}">
  <link href="{{url_for ('static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet')}}">
  <link href="{{url_for ('static/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for ('static/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for ('static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet')}}">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eStartup - v4.3.0
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="/"><span> <img src="/static/assets/img/new/ok.jfif" style="width:50px;height:50px" >Ma</span>mà</a>  </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about-us">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto" href="#screenshots">Screenshots</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>

          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li class="dropdown"><a href="#"><span>Sign-up</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
           
              <li ><a href="/user-signup">Sign Up as User</a>
                <li ><a href="/caregiver-signup">Sign Up as Care-giver</a>
               
              </li>
             
            </ul>
          </li>
              {% if current_user.is_authenticated: %}
             <li class="dropdown" ><a href="/Care-giver" style="text-transform:initial; font-size: 12px; font-weight:bolder; color:gold" > Return to Home Page</a>
              {% else: %}
          <li><a class="nav-link scrollto" href="login">login</a></li>
              {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in" >
     <!--  <h1>Welcome to eStartup</h1>
      <h2>Elegant Bootstrap Template for Startups, Apps &amp; more...</h2>
      <img src="assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
      <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
        <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
        <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
      </div> -->


      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
            <div class="carousel-inner" >
              <div class="carousel-item active" >
              <div style="margin-top: 20px"> 
               <h1>Welcome Mamà</h1>
                <h2>Mother, child care and &amp; more...</h2>
              </div>
               
               <img src="static/assets/img/new/ok.jfif" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" style="width:350px; height:400px; object-fit: contain;">

              </div>
              <div class="carousel-item" style="margin-top:20px">
               <div style="margin-top:20px">  
                <h1>Are you an Expectant Mother</h1>
               <h2>Need a mid wife, Antenatal nurse &amp; more...</h2></div>
               <img src="static/assets/img/new/expecting.jfif" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" style="width:350px; height:400px; object-fit: contain;">
              </div>
              <div class="carousel-item" style="margin-top:30px">
                 <h1>Need a nursing Mother</h1>
                 <h2>Someone to help with breast Feeding the baby</h2>
               <img src="static/assets/img/new/nursing.jfif" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" style="width:350px; height:400px; object-fit: contain;">
              </div>
               <div class="carousel-item" style="margin-top:30px">
                 <h1>Need help with the baby</h1>
                 <h2>Young and Old baby caregiver &amp; more...</h2>
               <img src="static/assets/img/new/nanny.jfif" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" style="width:350px; height:400px; object-fit: contain;">
              </div>
                <div class="carousel-item" style="margin-top:30px">
                 <h1>Need help with the children</h1>
                 <h2>Hourly, weekly, monthly and &amp; more...</h2>
               <img src="static/assets/img/new/nanny1.jfif" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" style="width:350px; height:400px; object-fit: contain;">
              </div>

            </div>

    </div>
    <div style="  margin-top:-30px; z-index:  4" > 
    <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
      <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
        <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
        <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
    </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2 style=" text-transform:none; font-size: 35px " >Simple as <span style=" font-size:3rem; font-weight:300; color:#39ac73">  1 2 3</span> </h2>
          <p class="separator">Easy registration process.</p>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <h2 style="font-size: 4rem;color:#39ac73">1</h2>
              <h4>SignUp</h4>
              <p>Signup as a <span style="color:#39ac73"> <a href="{{ url_for('usignup') }}">User</a></span> or as a <span style="color:#39ac73"> <a href="{{url_for('wsignup')}}">Worker</a></span></p>

           

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

             <h2 style="font-size: 4rem;color:#39ac73">2</h2>
              <h4>Verifification</h4>
              <p>Verify and Complete your Registration</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <h2 style="font-size: 4rem;color:#39ac73">3</h2>
              <h4>Request</h4>
              <p>Make or receive Request</p>
              

            </div>
          </div>

        </div>
      </div>

    </section><!-- End Get Started Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="/static/assets/img/new/kiss.jfif" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-7 col-lg-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2><span style="text-transform: capitalize; margin-right:-12px;color:#66cc66">Ma</span><span style="text-transform:capitalize;">mà</span>baby & <span style="text-transform:lowercase;">i </span></h2>
              <p>It's an application where young and old can register as a caregiver for children.
                Busy and unavailable mothers or parents can access the application to look for caregiver to help and take care of their wards. </p>
                <span> Get Access to the Nearest :</span>

              <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>Nursing Mothers (Breast Feed your new born)</li>
                <li><i class="vi bi-chevron-right"></i>Mid-Wife (To help you with Artenatal & Post Natal)</li>
                <li><i class="vi bi-chevron-right"></i>Young Caregiver (Mininum of 21 Years Plus)</li>
                <li><i class="vi bi-chevron-right"></i>Older Caregiver (Mininum of 50 Years Plus)</li>
                <li><i class="vi bi-chevron-right"></i>More ...</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->

  
    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Team Member</h2>
          <p class="separator">This is where i will display the Matrons and Patrons of  <span style="color:#5cd65c;font-weight: 400"> Ma</span><span style="text-transform: lowercase;">mà</span></p>
        </div>

        <div class="row">

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="team-block bottom">
              <img src="static/assets/img/team/1.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Joewe Ogbodo</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-block bottom">
              <img src="static/assets/img/team/2.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Kimberly Tran</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="team-block bottom">
              <img src="static/assets/img/team/3.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Kimberly Tran</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-block bottom">
              <img src="static/assets/img/team/4.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
                <span>manager</span>
                <h4>Kimberly Tran</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="padd-section text-center">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-8">

            <div class="testimonials-content">
              <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner" role="listbox">

                  <div class="carousel-item  active">
                    <div class="top-top">

                      <h2>Our Users Speack volumes us</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries.</p>
                      <h4>Kimberly Tran<span>manager</span></h4>

                    </div>
                  </div>

                  <div class="carousel-item ">
                    <div class="top-top">

                      <h2>Our Users Speack volumes us</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries.</p>
                      <h4>Henderson<span>manager</span></h4>

                    </div>
                  </div>

                  <div class="carousel-item ">
                    <div class="top-top">

                      <h2>Our Users Speack volumes us</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries.</p>
                      <h4>David Spark<span>manager</span></h4>

                    </div>
                  </div>

                </div>

                <div class="btm-btm">

                  <ul class="list-unstyled carousel-indicators">
                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                  </ul>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="padd-section text-cente">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Our Price</h2>
          <p class="separator">Check out our affordable rates</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-3">
            <div class="block-pricing">
              <div class="table">
                <h4>Mid-Wife</h4>
                <h2>₦25,000</h2>
                <ul class="list-unstyled">
                  <li><b>3 Visits a</b>week</li>
                  <li><b>7/24</b> Whatsapp Support</li>
                    <li><b>....</b> ....</li>
                  <li>.....</li>
                  <li>....</li>
                </ul>
                <div class="table_btn">
                  <a href="#" class="btn"><i class="bi bi-cart"></i> apply now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-pricing">
              <div class="table">
                <h4>Nursing Mother</h4>
                <h2>₦30,000</h2>
                <ul class="list-unstyled">
                 <li><b>7 Visits a</b>week</li>
                  <li><b>7/24</b> Whatsapp Support</li>
                    <li><b>start 8am</b> closes 8pm</li>
                  <li>.....</li>
                  <li>....</li>
                </ul>
                <div class="table_btn">
                  <a href="#" class="btn"><i class="bi bi-cart"></i> apply now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-pricing">
              <div class="table">
                <h4>Young Care Giver</h4>
                <h2>₦25,000</h2>
                <ul class="list-unstyled">
                   <li><b>6 Visits a</b>week</li>
                  <li><b>7/24</b> Whatsapp Support</li>
                    <li><b>start 8am</b> closes 8pm</li>
                  <li>Covid 19 safety protocol </li>
                  <li>....</li>
                </ul>
                <div class="table_btn">
                  <a href="#" class="btn"><i class="bi bi-cart"></i> apply now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-pricing">
              <div class="table">
                <h4>Older-Care Giver</h4>
                <h2>₦30,000</h2>
                <ul class="list-unstyled">
                   <li><b>6 Visits a</b>week</li>
                  <li><b>7/24</b> Whatsapp Support</li>
                    <li><b>start 8am</b> closes 7pm</li>
                  <li>Covid 19 safety protocol </li>
                  <li>....</li>
                </ul>
                <div class="table_btn">
                  <a href="#" class="btn"><i class="bi bi-cart"></i> apply now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Blog Section ======= -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <center style="padding: 20px">
   
    


  <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights mama.com All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a href="https://bootstrapmade.com/">Harrison Ebube</a>
        </div>
      </div>
    </div>

  </center><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static/assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static/assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static/assets/js/main.js')}}"></script>

</body>

</html>