
  {% extends 'layout/profile_nav.html'%}

  {% block content %}
           
			<div class="col-md-9 col-sm-12 col-xs-12" style="background-color: transparent; margin-top: -90px">
				<div class="form-style-1 user-pro" action="#">
				{% with messages= get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                         {% for category, message in messages %}

                      <div class="alert alert border-1 shadow-sm" {{category}}"  style=" color:grey;background-color: #ffffff;border-radius:3px; display: flex; font-size: 15px; text-align:center;">
                         <img src="static/assets/img/new/ok.jfif" alt="About" style="width:30px; height:40px; margin-right:20px;" data-aos="zoom-in" data-aos-delay="100">

                           {{message}}
                         </div>
                      {% endfor %}
                    {% endif %}
                    {% endwith %}
					<form method="POST"  action="{{url_for('payme')}}" >
					 {{ form.hidden_tag() }} 
						   <h4>01. Payment Details</h4>
						
						<div class="row">
							<div class="col-md-6 form-it">
								{{ form.bank_name.label(class="form-label", style="font-size:13px") }}
		                              {% if form.bank_name.errors %}
		                              {{ form.bank_name(class="form-control is-invalid") }}  
		                                <ul class="errors", style="color:red;">
		                                  {% for error in form.bank_name.errors %}
		                                    <li>{{ error }}</li>
		                                  {% endfor %}
		                                </ul>
		                                {% else %}
		                                 {{ form.bank_name(class="form-control") }} 
		                              {% endif %}
							</div>
							<div class="col-md-6 form-it">
								{{ form.bank_account_number.label(class="form-label", style="font-size:13px") }}
		                              {% if form.bank_account_number.errors %}
		                              {{ form.bank_account_number(class="form-control is-invalid") }}  
		                                <ul class="errors", style="color:red;">
		                                  {% for error in form.bank_account_number.errors %}
		                                    <li>{{ error }}</li>
		                                  {% endfor %}
		                                </ul>
		                                {% else %}
		                                 {{ form.bank_account_number(class="form-control") }} 
		                              {% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-it">
								{{ form.bank_account_name.label(class="form-label", style="font-size:13px") }}
		                              {% if form.bank_account_name.errors %}
		                              {{ form.bank_account_name(class="form-control is-invalid") }}  
		                                <ul class="errors", style="color:red;">
		                                  {% for error in form.bank_account_name.errors %}
		                                    <li>{{ error }}</li>
		                                  {% endfor %}
		                                </ul>
		                                {% else %}
		                                 {{ form.bank_account_name(class="form-control") }} 
		                              {% endif %}
							</div>
								
							  <div class="col-md-12 form-it" style="padding: 20px">
									{{ form.submit( class="form-control", style="background-color:#5cd65c; color:#ffffff;border-image:5px; border:none; ") }}
								</div>
					
						</div>
					
					</form>
					
				</div>
			</div>
		

  {% endblock %}