
  {% extends 'layout/profile_nav.html'%}

  {% block content %}

			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span>2 Job</span> in total</p>
				
				</div>
                <div class="movie-item-style-2 userrate">
					 <img src="static/assets_two/images/new/breast.jpeg" alt="" style="width:120px; height:120px; border-radius:2%"> 
                   
					<div class="mv-item-infor">
                        <div style="display: flex">
                            <p class="time sm" style="margin-right:5px">19 June 2021</p> <img src="static/assets_two/images/new/hourglass.png" alt="hourglass" style="width:20px;height:20px">
                        </div>  
                        <p>Caregiver : Nancy Ejike</p>	
                        <p>Cost: 45,000</p>	
                        <div style="display: flex">
                            <p>Duration: 3 Months</p> <p style="color:Orange; margin-left:10px"> Remaining: 4 Days</p>
                        </div>
                       <div style="display:flex">	<p class="time sm-text" style="margin-right:10px; font-size:8px; color:white;background-color:#5cd65c; border-radius:1px; ">Completed Job</p> 	<p class="time sm-text" style="font-size:8px; color:white;background-color:red;border-radius: 1px">Report Job</p></div>
                        
						
                    </div>
				</div>
                <div class="movie-item-style-2 userrate">
					 <img src="static/assets_two/images/new/girl3.jpg" alt="" style="width:120px; height:120px; border-radius:2%"> 
                   
					<div class="mv-item-infor">
                        <div style="display: flex">
                            <p class="time sm" style="margin-right:5px">18 June 2021</p> <img src="static/assets_two/images/new/hourglass.png" alt="hourglass" style="width:20px;height:20px">
                        </div>  
                        <p>Caregiver : Maria Johnson</p>   
                        <p>Cost: 18,000</p>	
                        <div style="display: flex">
                            <p>Duration: 1 Month </p> <p style="color:red; margin-left:10px;"> Remaining: 0 Days</p>
                        </div>
                       <div style="display:flex">	<p class="time sm-text" style="margin-right:10px; font-size:8px; color:white;background-color:#5cd65c; border-radius:1px">Job Review</p> 	<p class="time sm-text" style="font-size:8px; color:white;background-color:red;border-radius:1px">Report Job</p></div>
                        
						
                    </div>
				</div>
			
			
    {% endblock  %}